In [2]:
import pandas as pd
df =pd.read_csv("/content/drive/MyDrive/ML/marks123 - Sheet1.csv")
print("Dataset with Missing values:")
print(df)

Dataset with Missing values:
     Name   Roll Number   TELUGU  HINDI  ENGLISH  SCIENCE  SOCIAL  MATHS
0      Roy             1    99.0   99.0     99.0    100.0    99.0    100
1     Sabi             2    79.0    NaN     54.0     78.0    78.0     89
2     Teju             3    28.0   25.0     75.0     98.0    45.0     56
3   Akhila             4    65.0   64.0     64.0     77.0    65.0     32
4     Aish             5    64.0   78.0      NaN     66.0    89.0     45
5    Vaish             6     NaN   69.0     87.0     55.0    32.0     73
6    Jaggu             7    45.0   64.0     37.0      NaN    45.0     91
7  Keerthi             8    56.0   67.0     28.0     98.0     NaN     61
8   Sindhu             9    55.0   64.0     67.0     75.0    56.0     43
9   Sindhu             9    55.0   64.0     67.0     75.0    56.0     43

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
numerical_columns =df.select_dtypes(include =['number']).columns
categorical_columns =df.select_dtypes(include =['object']).columns

In [5]:
for column in numerical_columns:
    if df[column].isnull().sum()>0:
        df[column].fillna(df[column].mean(),inplace=True)

In [6]:
for column in numerical_columns:
    if df[column].isnull().sum()>0:
        df[column].fillna(df[column].median(),inplace=True)

In [7]:
for column in categorical_columns:
    if df[column].isnull().sum()>0:
        df[column].fillna(df[column].mode()[0],inplace=True)
print("Dataset after Imputation")
print(df)

Dataset after Imputation
     Name   Roll Number      TELUGU  HINDI    ENGLISH     SCIENCE     SOCIAL  \
0      Roy             1  99.000000   99.0  99.000000  100.000000  99.000000
1     Sabi             2  79.000000   66.0  54.000000   78.000000  78.000000
2     Teju             3  28.000000   25.0  75.000000   98.000000  45.000000
3   Akhila             4  65.000000   64.0  64.000000   77.000000  65.000000
4     Aish             5  64.000000   78.0  64.222222   66.000000  89.000000
5    Vaish             6  60.666667   69.0  87.000000   55.000000  32.000000
6    Jaggu             7  45.000000   64.0  37.000000   80.222222  45.000000
7  Keerthi             8  56.000000   67.0  28.000000   98.000000  62.777778
8   Sindhu             9  55.000000   64.0  67.000000   75.000000  56.000000
9   Sindhu             9  55.000000   64.0  67.000000   75.000000  56.000000

   MATHS
0    100
1     89
2     56
3     32
4     45
5     73
6     91
7     61
8     43
9     43